In [2]:
from pycaret.regression import *

In [60]:
import torch
torch.cuda.is_available()

True

In [3]:

dataset = pd.read_csv('../../Data/Bitcoin_2019_2020.csv')
dataset

,Unnamed: 0,Date,Open,High,Low,Close,Volume,change of next day(%),news,SENTIMENTAL
0,0,2019/01/01,3746.713379,3850.913818,3707.231201,3843.520020,4324200990,2.447,11,NEGATIVE
1,1,2019/01/02,3849.216309,3947.981201,3817.409424,3943.409424,5244856836,-2.399,35,NEGATIVE
2,2,2019/01/03,3931.048584,3935.685059,3826.222900,3836.741211,4530215219,0.670,51,NEGATIVE
3,3,2019/01/04,3832.040039,3865.934570,3783.853760,3857.717529,4847965467,-0.176,29,NEGATIVE
4,4,2019/01/05,3851.973877,3904.903076,3836.900146,3845.194580,5137609824,6.259,17,NEGATIVE
...,...,...,...,...,...,...,...,...,...,...
726,726,2020/12/27,26439.373050,28288.839840,25922.769530,26272.294920,66479895605,3.059,23,NEGATIVE
727,727,2020/12/28,26280.822270,27389.111330,26207.640630,27084.808590,49056742893,1.036,15,NEGATIVE
728,728,2020/12/29,27081.810550,27370.720700,25987.298830,27362.437500,45265946774,5.412,15,NEGATIVE
729,729,2020/12/30,27360.089840,28937.740230,27360.089840,28840.953130,51287442704,0.555,16,NEGATIVE
730,730,2020/12/31,28841.574220,29244.876950,28201.992190,29001.720700,46754964848,1.311,19,0

In [8]:
exp = setup(dataset, target = 'change of next day(%)', train_size=0.8, normalize = False,
            fold= 13,data_split_shuffle =False)

In [9]:
best_model = compare_models()

In [10]:
predict_model(best_model)

,High,Volume,news,SENTIMENTAL_NEGATIVE,Date_month_1,Date_month_10,Date_month_11,Date_month_12,Date_month_2,Date_month_3,...,Date_weekday_1,Date_weekday_2,Date_weekday_3,Date_weekday_4,Date_weekday_5,Date_weekday_6,Date_is_month_end_1,Date_is_month_start_0,change of next day(%),Label
0,11898.038086,2.313231e+10,36.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.288,0.26883
1,11800.064453,1.757206e+10,16.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,-0.525,0.26883
2,11806.056641,1.748961e+10,23.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.851,0.26883
3,12045.140625,2.611411e+10,44.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-3.965,0.26883
4,11932.710938,2.703978e+10,51.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.581,0.26883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,28288.839844,6.647989e+10,23.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,3.059,0.26883
143,27389.111328,4.905674e+10,15.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.036,0.26883
144,27370.720703,4.526595e+10,15.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.412,0.26883
145,28937.740234,5.128744e+10,16.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.555,0.26883
146,29244.876953,4.675496e+10,19.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.311,0.26883

In [31]:
predict_model(tm)

,Low,Volume,news,SENTIMENTAL_POSITIVE,Date_month_1,Date_month_10,Date_month_11,Date_month_12,Date_month_2,Date_month_3,...,Date_weekday_1,Date_weekday_2,Date_weekday_3,Date_weekday_4,Date_weekday_5,Date_weekday_6,Date_is_month_end_1,Date_is_month_start_1,next day prediction,Label
0,1.635907,0.044685,0.350621,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1
1,1.702168,-0.417548,-1.072825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1
2,1.697902,-0.424402,-0.574619,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1
3,1.748081,0.292566,0.919999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,-1
4,1.541765,0.369518,1.418205,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,8.054338,3.648234,-0.574619,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,-1
143,8.180313,2.199821,-1.143997,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,-1
144,8.082874,1.884687,-1.143997,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,-1
145,8.689947,2.385263,-1.072825,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-1
146,9.062252,2.008471,-0.859308,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,-1

In [29]:
dummy = create_model('svm')
tm = tune_model(dummy, n_iter=500)

In [30]:
evaluate_model(tm)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦